<%- include("partials/header")  -%>
<form action="/compose" method="post">
    <h1 style="margin-bottom: 3%;">Compose</h1>
    <label>Title</label><textarea name="title" class="form-control" rows="1" ></textarea>
    <label>BLOG</label><textarea name="blog" class="form-control" rows="5" ></textarea>
    <button type="submit">+</button>
</form>
<%- include("partials/footer")  -%>

